<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<!-- Style CSS -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstarp-theme.css" />
<!-- scripts -->
<script src="/bootstrap/js/bootstarp.js"></script>
<title>user list</title>
</head>
<body>
	<table class="table table-hover" style="border-collapse: 0" >
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>age</th>
				<th>id</th>
			</tr>
		</thead>
		<tr th:each="p : ${persons}">
			<th th:text="${p.id}"></th>
			<th th:text="${p.name}"></th>
			<!-- <th th:text="${#dates.format(user.creDat_col, 'yyyy-MM-dd')}"></th> -->
			<th th:text="${p.age}"></th>
			<th th:text="${p.id}"></th>
		</tr>
	</table>
	<nav>
	<ul class="pagination">
		<li><a href="#">&laquo;</a></li>

		<li>
			<a th:if="${not isFirstPage}" th:href="@{${'/person2'}(pageNum=${pageNum-1},pageSize=${pageSize})}">Previous</a>
			<a th:if="${isFirstPagee}" href="javascript:void(0);">Previous</a>
		</li>

		<li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
			<a th:if="${pageNum eq pageNo}" href="javascript:void(0);"> <span th:text="${pageNo}"></span></a> 
			<a th:if="${not (pageNum eq pageNo)}" th:href="@{${'/person2'}(pageNum=${pageNo},size=${pageSize})}"> <span th:text="${pageNo}"></span> </a>
		</li>
		<li>
			<a th:if="${not isLastPage}" th:href="@{${'/person2'}(pageNum=${pageNum+1},size=${pageSize})}">Next</a> 
			<a th:if="${isLastPage}" href="javascript:void(0);">Next</a>
		</li>

		<li><a href="#">&raquo;</a></li>
	</ul>
	</nav>
</body>
</html>